<a href="https://colab.research.google.com/github/ImAli0/AI_Application/blob/main/09-Feature-Engineering%20%20/%2002-My%20Dealing-with-Categorical-Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('/content/Ames_NO_Missing_Data.csv')

In [4]:
df['MS SubClass'] = df['MS SubClass'].apply(str)

In [5]:
names = pd.Series(['Muhammad', 'Abdullah', 'Ali', 'Abu Bakr', 'Omar'])

In [6]:
names

0    Muhammad
1    Abdullah
2         Ali
3    Abu Bakr
4        Omar
dtype: object

In [7]:
pd.get_dummies(names)

   Abdullah  Abu Bakr  Ali  Muhammad  Omar
0         0         0    0         1     0
1         1         0    0         0     0
2         0         0    1         0     0
3         0         1    0         0     0
4         0         0    0         0     1

In [8]:
pd.get_dummies(names, drop_first=True)

   Abu Bakr  Ali  Muhammad  Omar
0         0    0         1     0
1         0    0         0     0
2         0    1         0     0
3         1    0         0     0
4         0    0         0     1

In [10]:
df_nums = df.select_dtypes(exclude='object')
df_objs = df.select_dtypes(include='object')

In [11]:
df_objs = pd.get_dummies(df_objs, drop_first=True)

In [12]:
final_df = pd.concat([df_nums, df_objs], axis=1)

In [13]:
final_df

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.000000,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.000000,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,0,0,0,0,1,0,0,0,1,0
2921,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,0,0,0,0,1,0,0,0,1,0
2922,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,0,0,0,0,1,0,0,0,1,0
2923,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,0,0,0,0,1,0,0,0,1,0
2924,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,0,0,0,0,1,0,0,0,1,0

In [14]:
final_df.corr()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
Lot Frontage,1.000000,0.377876,0.189348,-0.056755,0.118491,0.080929,0.198320,0.165424,0.058360,0.103582,...,-0.041860,0.089015,-0.003026,0.013273,-0.066157,-0.047920,0.010944,0.017036,-0.067966,0.086950
Lot Area,0.377876,1.000000,0.085037,-0.032696,0.017569,0.016329,0.106717,0.157676,0.085724,0.022183,...,-0.015529,0.016193,-0.003749,0.008696,-0.002633,-0.020194,0.026272,0.019088,-0.013794,0.018291
Overall Qual,0.189348,0.085037,1.000000,-0.093812,0.596804,0.569720,0.416306,0.273297,-0.040615,0.269886,...,-0.045311,0.329752,-0.052951,-0.014357,-0.185885,-0.049827,-0.038833,-0.023870,-0.127224,0.324635
Overall Cond,-0.056755,-0.032696,-0.093812,1.000000,-0.368327,0.048431,-0.131679,-0.049316,0.040839,-0.137086,...,-0.014776,-0.146797,-0.018538,0.007254,0.161192,-0.051776,-0.027728,-0.031957,0.167505,-0.142207
Year Built,0.118491,0.017569,0.596804,-0.368327,1.000000,0.612085,0.305046,0.281601,-0.027051,0.128694,...,-0.044962,0.341557,-0.013952,-0.008153,-0.201016,-0.077845,-0.019524,-0.036176,-0.136495,0.337101
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sale Condition_AdjLand,-0.047920,-0.020194,-0.049827,-0.051776,-0.077845,-0.078160,-0.018132,-0.028714,-0.018882,-0.006369,...,-0.003361,-0.019014,-0.003144,-0.001187,0.025212,1.000000,-0.005714,-0.008113,-0.139172,-0.019276
Sale Condition_Alloca,0.010944,0.026272,-0.038833,-0.027728,-0.019524,-0.037357,-0.017603,0.027166,-0.026191,-0.060114,...,-0.004662,-0.026374,-0.004360,-0.001646,0.034970,-0.005714,1.000000,-0.011253,-0.193039,-0.026737
Sale Condition_Family,0.017036,0.019088,-0.023870,-0.031957,-0.036176,-0.049615,-0.016811,-0.026461,-0.002149,0.024518,...,0.045996,-0.037447,0.050048,-0.002338,-0.014946,-0.008113,-0.011253,1.000000,-0.274087,-0.037963
Sale Condition_Normal,-0.067966,-0.013794,-0.127224,0.167505,-0.136495,-0.100290,-0.056903,0.001843,0.068636,-0.149745,...,0.006938,-0.642378,-0.087804,0.008529,0.619284,-0.139172,-0.193039,-0.274087,1.000000,-0.651219
Sale Condition_Partial,0.086950,0.018291,0.324635,-0.142207,0.337101,0.321505,0.131924,0.018638,-0.087115,0.246168,...,-0.015728,0.986423,-0.014710,-0.005554,-0.749974,-0.019276,-0.026737,-0.037963,-0.651219,1.000000

In [15]:
final_df.corr()['SalePrice'].sort_values()

Exter Qual_TA       -0.591459
Kitchen Qual_TA     -0.527461
Fireplace Qu_None   -0.481740
Bsmt Qual_TA        -0.453022
Garage Finish_Unf   -0.422363
                       ...
Garage Cars          0.648488
Total Bsmt SF        0.660983
Gr Liv Area          0.727279
Overall Qual         0.802637
SalePrice            1.000000
Name: SalePrice, Length: 274, dtype: float64